---
---

@import url(themes/{{ site.themes.general }}/theme.css);
@import url(layout.css);
@import url(themes/{{ site.themes.general }}/overrides.css);
@import url(code/{{ site.themes.code }}.css);

html {
  min-height: 100%;
}

.clear-all {
  clear: both;
}

img.inline {
  margin-bottom: -8px;
}

nav {
  background: #fff;
  border-right: 1px solid #dddddd;

  .fa {
    font-size: 14px;
    color: #2B404A;
  }
  
  h1 {
    color:#323232;
  }

  h2 {
    color:#555;
  }

  li a {
    color:#14a1c8;
    line-height:28px;
  }
}

@media print, screen and(max-width: 650px) {
  section {
    border: none;
  }
  
  nav {
    border: none;
  }
}