/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * manual.css
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * mainframe ;-)
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
    font-size: 14px;
}

body {
    background-color: #fff;
    color: #036;
    padding: 0 1em 0 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

pre, code {
    font-family: "Courier New", Courier, monospace;
}

strong {
    font-weight: bold;
}

q, em, var {
    font-style: italic;
}

span.transnote, span.phonetic {
    font-weight: normal;
    background-color: inherit;
    color: #888;
}

/* fixup IE & Opera
 * otherwise they forget to inherit
 * the computed font-size value
 */
table, code {
    font-size: 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Links
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* normal links           */
/* ====================== */
a:link {
    color: #0073c7;
    background-color: inherit;
}

a:visited {
    color: #5A88B5;
    background-color: inherit;
}

a:link:hover,
a:link:active,
a:visited:hover,
a:visited:active {
    color: #0073c7;
    background-color: #f0f0f0;
}

/* hover on non-white backgrounds */
tr.odd a:hover,
tr.odd a:active,
tr.header a:hover,
tr.header a:active,
div.note a:hover,
div.note a:active,
div.example a:hover,
div.example a:active,
div.warning a:hover,
div.warning a:active,
div#quickview a:hover,
div#quickview a:active {
    background-color: #fff;
    color: #0073c7;
}

/* code.module [links]    */
/* ====================== */
code.module,
code.module a:link {
    color: #8b4513;
    background-color: inherit;
}

code.module a:visited {
    color: #bc8f8f;
    background-color: inherit;
}

code.module a:hover,
code.module a:active {
    color: #8b4513;
    background-color: #f0f0f0;
}

/* hover on non-white backgrounds */
tr.odd code.module a:hover,
tr.odd code.module a:active,
tr.header code.module a:hover,
tr.header code.module a:active,
div.note code.module a:hover,
div.note code.module a:active,
div.example code.module a:hover,
div.example code.module a:active,
div.warning code.module a:hover,
div.warning code.module a:active,
div#quickview code.module a:hover,
div#quickview code.module a:active {
    background-color: #fff;
    color: #8b4513;
}

/* code.directive [links] */
/* ====================== */
code.directive,
code.directive a:link {
    color: #287f00;
    background-color: inherit;
}

code.directive a:visited {
    color: #35a500;
    background-color: inherit;
}

code.directive a:hover,
code.directive a:active {
    color: #287f00;
    background-color: #f0f0f0;
}

/* hover on non-white backgrounds */
tr.odd code.directive a:hover,
tr.odd code.directive a:active,
tr.header code.directive a:hover,
tr.header code.directive a:active,
div.note code.directive a:hover,
div.note code.directive a:active,
div.example code.directive a:hover,
div.example code.directive a:active,
div.warning code.directive a:hover,
div.warning code.directive a:active,
div#quickview code.directive a:hover,
div#quickview code.directive a:active {
    background-color: #fff;
    color: #287f00;
}

/* glossary [links] */
/* ====================== */
.glossarylink {
    cursor: help;
    border-bottom: 1px dashed #0073c7;
    text-decoration: none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Headings
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* h1                     */
/* ====================== */
h1 {
    padding: 0.2em;
    margin: 0;
    border: 1px solid #405871;
    background-color: inherit;
    color: #036;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
}

/* h2                     */
/* ====================== */
h2 {
    padding: 0.2em 0 0.2em 0.7em;
    margin: 0 0 0.5em 0;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.section h2 {
    background-color: #405871;
    color: #fff;
}

.directive-section h2 {
    background-color: #557697;
    color: #fff;
}

.category h2 {
    background-color: #e5ecf3;
    color: #405871;
    font-size: 14px;
}

/* take care of <a name>s inside */
h2 a,
h2 a:hover,
h2 a:active {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

/* h3, h4                 */
/* ====================== */
h3 {
    background-color: inherit;
    color: #036;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    margin: 1.3em 0 0.4em 0;
    padding: 0;
}

h4 {
    background-color: inherit;
    color: #036;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin: 1.3em 0 0.2em 0;
    padding: 0;
}

/* margin adjustment */
h3 + *, h4 + * {
    margin-top: 0;
}

/* IE confuses the + * :-(
 * so reset some things
 */
ul, .section table, .directive-section table {
    margin-bottom: 1em;
}

/* titles for
 * examples, notes and warnings
 */
div.example h3,
div.note h3,
div.warning h3 {
    margin: 0 0 0.5em 0;
    text-align: left;
    font-size: 14px;
}

/* sidebar */
div#quickview h3 {
    margin: 1em 0 0.3em 0.5em;
    font-size: 15px;
}

div#quickview h3.directives {
    margin-top: 0.3em;
}

/* take care of <a name>s inside */
h3 a,
h3 a:hover,
h3 a:active,
h4 a,
h4 a:hover,
h4 a:active {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Up & Top helper images
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* arrow left             */
/* ====================== */
div.up {
    width: 30px;
    height: 20px;
    padding: 0;
    margin: -20px 0 1px 0;
    text-align: center;
    vertical-align: top;
}

div.up img {
    vertical-align: top;
    width: 11px;
    height: 11px;
    border-style: none;
}

/* arrow up (to page top) */
/* ====================== */
div.top {
    width: 30px;
    padding: 0 0 0 30px;
    margin: 0;
}

div.top img {
    margin-top: 0.5em;
    vertical-align: bottom;
    width: 11px;
    height: 11px;
    border-style: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Tables
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* general                */
/* ====================== */
table {
    border: 1px solid #aaa;
    border-collapse: collapse;
    padding: 2px;
    margin-top: 0.5em;
    margin-bottom: 0;
}

td, th {
    empty-cells: show; /* show border around empty cells */
    padding: 0.1em 0.2em;
    vertical-align: top;
    text-align: left;
    line-height: 1.3em;
}

th {
    font-weight: bold;
}

td.centered {
    text-align: center;
}

td.data {
    font-family: monospace;
    text-align: right;
    padding-left: 1em;
}

th.data {
    text-align: right;
}

tr.odd { /* for large tables alternating colors */
    background-color: #f2f2f2;
}

tr.header, tr.header th {
    background-color: #e2e2e2;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/* bordered table cells   */
/* ====================== */

/* turn off borders in tables nested in
 * bordered tables per default
 */
table.bordered table td,
table.bordered table th {
    border-style: none;
}

table.bordered td,
table.bordered th,
table table.bordered td,
table table.bordered th {
    border: 1px solid #aaa;
}

/* index page layout table */
/* ======================= */
body#index-page div#page-content {
    width: 100%; /* IE fun */
}

body[id]#index-page div#page-content {
    width: auto; /* reasonable browsers. */
}

table#indextable {
    width: 100%;
    border-collapse: collapse;
    border: 0 none;
}

table#indextable td {
    width: 33.3%;
    border-left: 1px solid #aaa;
    padding-top: 0;
    padding-bottom: 0;
}

table#indextable td.col1 {
    border-left: 0 none;
    padding-left: 0;
}

table#indextable td.col3 {
    padding-right: 0;
}

/* mod/dir. overview table and quick reference  */
/* ============================================ */
table.module th,
table.directive th {
    white-space: nowrap;
}

table.qref {
    border-collapse: collapse;
    width: 100%;
}

table.qref td {
    border-style: none solid;
    border-color: #aaa;
    border-width: 1px;
}

table.qref td.descr {
    padding-left: 1em;
    font-size: 13px;
}

table#legend {
    width: 100%;
    border-style: none;
    border-width: 0;
    vertical-align: bottom;
    padding: 0;
    margin: 0;
}

table#legend td {
    vertical-align: bottom;
    margin: 0;
    padding: 0;
}

table#legend td.letters {
    width: 100%;
    padding-bottom: 0.5em;
}

table#legend table {
    vertical-align: bottom;
    margin: 0 0 0 0.4em;
    padding: 0;
    height: 7.5em;
}

table#legend table td,
table#legend table th {
    vertical-align: middle;
    padding: 0.1ex 0.2em;
    line-height: 1em;
    white-space: nowrap;
}

/* related modules & dir. */
/* ====================== */

/* assuming, all links are enclosed by
 * <code class="directive"> or
 * <code class="module">
 */

table.related {
    border-collapse: separate;
}

table.related th {
    padding: 0.2ex 0.3em;
    background-color: #e5ecf3;
    color: #405871;
    vertical-align: middle;
}

table.related td {
    padding: 0.2ex 0.3em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * Lists
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* list default values    */
/* ====================== */
ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: square;
}

ul ul ul {
    list-style-type: circle;
}

li, dt, dd {
    line-height: 1.3em;
}

dt {
    margin-top: 0.5em;
    font-weight: bold;
}

ol li {
    margin-top: 0.5em;
}

ol.up-A {
    list-style-type: upper-alpha;
}

ol.lo-A {
    list-style-type: lower-alpha;
}

dd.separate {
    margin-bottom: 2em;
}

li.separate {
    margin-bottom: 1em;
}

/* table of contents      */
/* ====================== */
#toc,
#topics {
    margin: 0 0 1em 0;
    padding: 0;
}

#toc li,
#topics li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* see also               */
/* ====================== */
.seealso {
    margin: 0 0 1em 0;
    padding: 0;
}

.seealso li {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 34px;
}

/* related modules & dir. */
/* ====================== */
table.related td ul,
table.related td li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* list of all directives */
/* ====================== */
div#directive-list ul {
    margin: 0;
    padding: 0;
}

/* override index */
/* ============== */
div#override-list td.module {
    width: 20%;
}

/* indextable */
/* ========== */
table#indextable td ul {
    list-style-type: none;
    margin: 0 0 1em 0.5em;
    padding: 0 0 0 0;
}

table#indextable td ul li {
    margin-top: 0.3em;
}

/* sidebar                */
/* ====================== */
div#quickview li {
    font-size: 13px;
}

div#quickview ul {
    margin: 0 0 15px 0;
    padding: 0;
}

div#quickview ul#toc {
    margin: 0 0 0 0.5em;
    padding: 0;
}

#module-index div#quickview ul#toc,
#manual-page div#quickview ul#toc {
    margin-left: 0;
}

div#quickview ul#toc li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

div#quickview li img {
    display: none;
}

#module-index div#quickview ul#toc,
#manual-page div#quickview ul#toc,
div#quickview #topics,
div#quickview .seealso {
    padding-left: 15px;
}

#module-index div#quickview ul#toc li,
#manual-page div#quickview ul#toc li,
div#quickview #topics li,
div#quickview .seealso li {
    margin: 0.4em 0 2px 0;
    padding: 0;
    list-style-type: square;
    list-style-position: outside;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * main page sections
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* page header            */
/* ====================== */
div#page-header {
    margin-left: 30px;
}

div#page-header img {
    padding: 0;
    display: block;
    margin: -70px 0 1px 2em;
    width: 248px;
    height: 70px;
}

div#quickview a.badge {
    /* Temporary hack for the Support Apache badge */
    background-color: transparent;
}

div#quickview a.badge img {
    /* Temporary hack for the Support Apache badge */
    width: 95px;
    height: 95px;
}

div#page-header p.apache {
    background-color: #405871;
    color: #fff;
    padding: 0 0 0 248px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    line-height: 29px;
}

div#page-header p.menu {
    text-align: right;
    font-size: 13px;
    margin: 30px 0 0.5em 0;
    padding: 0;
}

/* breadcrumb navigation */
div#path {
    margin: 0.2em 0 1.2em 30px;
    padding: 0;
    font-size: 13px;
}

/* content sections       */
/* ====================== */
div#preamble {
    padding-bottom: 1em;
    margin-left: 30px;
}

div.section,
div.directive-section {
    margin: -1.2em 0 0 60px;
    padding: 0;
}

.section p,
.directive-section p {
    margin: 0 0 1em 0;
    padding: 0;
}

/* look for this on directive
 * list pages
 */
div#directive-list {
    margin-left: 30px;
    padding: 0 0 1em 1em;
}

div#directive-ref {
    margin: -1em 0 0 0;
    padding: 0 0 1em 30px;
    width: 100%; /* IE is BAD (broken as designed) */
}

div[id]#directive-ref { /* a big sorry to ICab, Amaya (and old Konquerors?) */
    width: auto; /* other browsers are fine ;-) */
}

/* sidebar position: right */
div#quickview {
    position: absolute;
    top: 5.5em;
    right: 1em;
    margin-left: 0;
    margin-top: 40px;
    padding: 4px;
    width: 13.5em;
    background-color: #f0f0f0;
    color: inherit;
}

/* -> move content left */
div#page-content {
    padding-top: 0;
    margin-right: 13em;
    padding-right: 30px;
}

/* unsqueeze on some pages... */
body.no-sidebar div#page-content,
body#index-page div#page-content {
    margin-right: 0;
    padding-right: 0;
}

body#index-page div#page-content {
    margin-left: 30px;
    padding-bottom: 1em;
}

/* in general */
p {
    line-height: 1.3em;
}

/* translations           */
/* ====================== */
.toplang {
    padding: 0;
    margin: 0.2em 0.2em 1em 0;
}

.bottomlang {
    padding: 0;
    margin: 0 0.2em 0.2em 0;
}

.toplang p,
.bottomlang p {
    font-size: 13px;
    text-align: right;
    background-color: inherit;
    color: #ccc;
    margin: 0;
    padding: 0;
}

.toplang p span,
.bottomlang p span {
    background-color: inherit;
    color: #036;
}

.toplang p a:link,
.toplang p a:visited,
.bottomlang p a:link,
.bottomlang p a:visited {
    text-decoration: none;
    font-weight: bold;
}

.toplang p a:hover,
.toplang p a:active,
.bottomlang p a:hover,
.bottomlang p a:active {
    font-weight: bold;
}

/* page footer            */
/* ====================== */
div#footer {
    margin-left: 30px;
    font-size: 13px;
    border-top: 1px solid #405871;
    padding-top: 0.2em;
}

div#footer p.apache {
    float: left;
    text-align: left;
    padding: 0 0 1em 0;
    margin-top: 0;
}

div#footer p.menu {
    float: right;
    text-align: right;
    margin-top: 0;
    padding: 0 0 1em 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * subsections (examples, notes, warnings)
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* examples               */
/* ====================== */
div.example {
    background-color: #e5ecf3;
    color: #000;
    padding: 0.5em;
    margin: 1em 2em 1em 1em;
}

/* example inside a note:
 * blue in gray doesn't look good
 * so simply draw a border around
 * and keep it gray
 */
div.note div.example,
div.warning div.example {
    border: 1px solid #aaa;
    background-color: transparent;
    color: inherit;
    margin-right: 1em;
}

/* example inside table */
table div.example {
    margin-right: 1em;
}

/* the following [block] elements
 * may appear inside example...
 */
div.example p,
div.example pre,
div.example table {
    padding: 0;
    margin: 0;
}

div.example p {
    line-height: 1em;
}

div.example pre,
div.example p > code {
    font-size: 13px;
}

/* notes & warnings       */
/* ====================== */
div.note,
div.warning {
    background-color: #eee;
    color: #036;
    padding: 0.5em;
    margin: 1em 2em 1em 1em;
}

div.warning {
    border: 1px solid #f00;
}

div.note p,
div.warning p {
    margin: 0.5em 0 0 0;
    padding: 0;
}

div.note pre,
div.warning pre {
    font-size: 13px;
}

/* inside table */
table div.note,
table div.warning {
    margin-right: 1em;
}

div.outofdate,
div.retired{
    background-color: #ffffc0;
    color: #036;
    padding: 0.5em;
    margin: 1em 2em 1em 1em;
}
div.retired{
    border: solid 1px #ff0000;
    margin-left: 3em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * quotations, indented paragraphs, forms and figures
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
p.letters {
    margin: 1em 0 0 0;
}

p.centered {
    text-align: center;
}

.letters {
    text-align: center;
    background-color: inherit;
    color: #ccc;
}

.letters a:link,
.letters a:visited {
    text-decoration: none;
    font-weight: bold;
}

.letters a:hover,
.letters a:active {
    font-weight: bold;
}

blockquote p {
    font-style: italic;
    margin: 0;
}

blockquote p.cite {
    font-style: normal;
    margin-top: 0;
    margin-left: 2em;
}

blockquote p.cite cite {
    font-style: normal;
}

p.indent {
    margin-left: 2em;
    margin-top: 1em;
}

span.indent {
    padding-left: 1.5em;
    display: block;
}

#index-page form {
    text-align: center;
}

#index-page form p {
    line-height: 1.1em;
}

#index-page form input {
    font-size: 1em;
}

p.figure {
    margin-left: 2em;
    font-style: italic;
}

p.figure img {
    border: 1px solid #aaa;
}

p.figure dfn {
    font-weight: bold;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 * -> The End <-
 * ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
