/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #060 }  /* string content */
  .kwd { color: #006 }  /* a keyword */
  .com { color: #600 }  /* a comment */
  .typ { color: #404 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888; tab-size: 4; overflow: auto; overflow-y: hidden; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }



/* Highlighting style for Apache configuration files */
pre.lang-config{ 
    background-color: #e5ecf3;
    color: #000;
    padding: 0.5em;
    margin: 1em 2em 1em 1em;
    border: none;
}
.lang-config .tag { color: #821; font-weight: bold }  /* enclosures */
.lang-config .kwd { color: #128; font-weight: bold }  /* directives */
.lang-config .com { color: #c46d34 }  /* comments */
.lang-config .lit { color: #077 }  /* miscellaneous types: Options arguments, handler names etc */



/* Highlighting style for C source code */
pre.lang-c{ 
    background-color: #f8f6ee;
    color: #000;
    padding: 0.5em;
    margin: 1em 2em 1em 1em;
    border: 1px dotted #666;
}

.lang-c .com { color: #c46d34 }  /* a comment */
.lang-c .lit { color: #088 } /* a literal */
.lang-c .str { color: #009606 } /* string content */
.lang-c .kwd { color: #00C; font-weight: bold }  /* a keyword */
.lang-c .typ { color: #808 }  /* a type name */
.lang-c .tag { color: #248 }  /* a markup tag name */




/* Highlighting style for Lua source code */
pre.lang-lua{ 
    background-color: #f8f6ee;
    color: #000;
    padding: 0.5em;
    margin: 1em 2em 1em 1em;
    border: 1px dotted #666;
}

.lang-lua .com { color: #c34e00 }  /* a comment */
.lang-lua .lit { color: #088 } /* a literal (in this context; a known directive argument, a number or an IP address) */
.lang-lua .str { color: #009606 } /* string content */
.lang-lua .kwd { color: #00C; font-weight: bold }  /* a keyword */
.lang-lua .typ { color: #808 }  /* a type name */




/* Highlighting style for Perl source code */
pre.lang-perl{ 
    background-color: #f8f6ee;
    color: #000;
    padding: 0.5em;
    margin: 1em 2em 1em 1em;
    border: 1px dotted #666;
}

.lang-perl .com { color: #c34e00 }  /* a comment */
.lang-perl .lit { color: #088 } /* a literal */
.lang-perl .str { color: #009606 } /* string content */
.lang-perl .kwd { color: #00C; font-weight: bold }  /* a keyword */
.lang-perl .typ { color: #808 }  /* a type name */
