bin/heidisql/tabs.ini
bin/heidisql/Backups/*

bin/laragon/laragon.log

bin/sendmail/output/*

bin/notepad++/config.xml
bin/notepad++/langs.xml
bin/notepad++/session.xml
bin/notepad++/stylers.xml
bin/notepad++/plugins/Config/converter.ini

data

etc/apache2/sites-enabled
etc/nginx/*
!etc/nginx/alias
!etc/nginx/php_upstream.conf

tmp

usr/tpl

www/*
!www/index.php
