@import url('bootstrap.min.css');

    *,
    :before *,
    :after * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      min-height: 100vh;
      font-weight: 100;
      font-family: 'Karla', sans-serif;
      font-size: 18px;
    }

    header,
    main,
    nav {
      padding: 1rem;
      margin: auto;
      max-width: 1200px;
      text-align: center;
    }

    header {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .header-item {
      margin: 0;
      padding: 1rem;
    }

    h1 {
      font-size: 5rem;
    }

    main {
      background: var(--bs-success);
    }

    nav {
      width: 100%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: auto;
    }

    b {
      font-weight: 600;
    }

    a {
      color: var(--bs-warning);
      text-decoration: none;
    }

    a:hover {
      color: orange;
    }

    main a {
      color: var(--bs-warning);
    }

    nav a {
      display: block;
      margin: 1rem 0;
    }

    nav a:after {
      content: '→';
      margin-left: 0.5rem;
    }

    .alert {
      color: var(--bs-danger);
      font-weight: 900;
    }

    @media (min-width: 650px) {
      h1 {
        font-size: 10rem;
      }
    }