.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.progress {
    margin-bottom:0;
    margin-top:6px;
    margin-left:10px;
}

.btn.focus {
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}

.btn.hover {
    color:#ffffff;
    background-color:#3276b1;
    border-color:#285e8e;
}

.highlight {
	background-color: yellow;
	font-weight: bold;
}