body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

a {
    font-family: "Rubik", Sans-serif, serif;
    text-transform: uppercase;
    font-size: 16px !important;
    color: #FFFFFF !important;
    text-decoration: none;
}

/* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 'header''main''footer';
    height: 100vh;
}

/* Give every child element its grid name */
.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    color: #ffffff;
    font-family: "Rubik", Sans-serif, serif;
    background-color: #0b162c;
}

.main {
    grid-area: main;
    /* background-color: #e5e5e5; */
    background: url(background2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-header {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    height: 150px;
    background-color: #fca311;
    color: #14213d;
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 71px;
    grid-gap: 20px;
    margin: 10px;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #00adef;
    font-family: "Rubik", Sans-serif, serif;
    border-radius: 5px 5px;
    font-size: 16px;
    color: #FFFFFF !important;
    line-height: 1;
    height: 31px;
}

.overviewcard_sites {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #023e8a;
    /*-----00adef    -----*/
    font-family: "Rubik", Sans-serif, serif;
    border-radius: 5px 5px;
    font-size: 16px;
    color: #FFFFFF !important;
    line-height: 1;
    height: 31px;
}

.overviewcard_info {
    font-family: "Rubik", Sans-serif, serif;
    text-transform: uppercase;
    font-size: 16px !important;
    color: #FFFFFF !important;
}

.overviewcard_icon {
    font-family: "Rubik", Sans-serif, serif;
    text-transform: uppercase;
    font-size: 16px !important;
    color: #FFFFFF !important;
}


.overviewcard4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #031A24;
    /*-----00adef    -----*/
    font-family: "Rubik", Sans-serif, serif;
    border-radius: 5px 5px;
    font-size: 16px;
    color: #FFFFFF !important;
    line-height: 1;
    height: 31px;
}

.main-cards {
    column-count: 0;
    column-gap: 20px;
    margin: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f1faee;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
}

/* Force varying heights to simulate dynamic content */
.card:first-child {
    height: 300px;
}

.card:nth-child(2) {
    height: 200px;
}

.card:nth-child(3) {
    height: 265px;
}

/*Image Filter styles*/
.saturate {
    filter: saturate(3);
}

.grayscale {
    filter: grayscale(100%);
}

.contrast {
    filter: contrast(160%);
}

.brightness {
    filter: brightness(0.25);
}

.blur {
    filter: blur(3px);
}

.invert {
    filter: invert(100%);
}

.sepia {
    filter: sepia(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.rss.opacity {
    filter: opacity(50%);
}

.sites {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-gap: 20px;
    margin: 20px;
}

.sites li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: #560bad;
    color: #ffffff;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
}


.sites li:hover {
    box-shadow: 0 0 15px 0 #bbb;
}

.sites li:hover svg {
    fill: #ffffff;
}

.sites li:hover a {
    color: #ffffff;
}

.sites li a {
    display: block;
    padding-left: 48px;
    color: #f2f2f2;
    transition: color 250ms ease-in-out;
}

.sites img {
    position: absolute;
    margin: 8px 8px 8px -40px;
    fill: #f2f2f2;
    transition: fill 250ms ease-in-out;
}

.sites svg {
    position: absolute;
    margin: 16px 16px 16px -40px;
    fill: #f2f2f2;
    transition: fill 250ms ease-in-out;
}

.footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #0b162c;
    color: #ffffff;
}

/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  /* Adjust the menu icon size */
  .menu-icon {
    font-size: 30px;
  }

  /* Hide the sidenav */
  .sidenav {
    display: none;
  }

  /* Show the sidenav when it's active */
  .sidenav.active {
    display: block;
  }
}

/* Styles for screens larger than 600px */
@media (min-width: 601px) {
  /* Adjust the menu icon size */
  .menu-icon {
    font-size: 40px;
  }

  /* Show the sidenav */
  .sidenav {
    display: block;
  }
}
