<meta charset="UTF-8">
<title>{{ site.name }}</title>
<meta name="viewport" content="width=device-width">
<meta name="author" content="{{ site.author }}">
<link rel="shortcut icon" href="http://www.wakanda.io/sites/all/themes/wakanda_cloud/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="stylesheet" href="css/main.css?v=050716">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<script type='text/javascript' src='js/polyfill.js'></script>
