<header class="home">
  <h1>Getting started</h1>
  <img src="img/withWakAppFac.png" width="370" height="101">
</header>

<div class="home-container">
  <h2>Getting started</h2>
  <div>
    <div class="head">1</div>
    <a class="action" href="design-data-model.html">
      <div class="stepPic model"></div>
      DESIGN YOUR<br>DATA MODEL
    </a>
  </div>
  <div>
    <div class="head">2</div>
      <a class="action" href="create-web-app.html">
        <div class="stepPic webApp"></div>
        CREATE<br>A WEB APP
      </a>
  </div>
  <div>
    <div class="head">3</div>
      <a class="action" href="create-mobile-app.html">
        <div class="stepPic mobileApp"></div>
        CREATE<br>A MOBILE APP
      </a>
  </div>
  <hr/>
</div>
<div class="home-container">
<h2>Going further</h2>
  <div>
    <div class="head"><span class="label">Enterprise  Edition</span></div>
    <a class="action" href="http://doc.wakanda.org/home2.en.html#/MySQL-Connector-Pro/MySQL-Connector-Pro.100-1168858.en.html" target="_blank">
      <div class="stepPic circle connect"></div>
      CONNECT EXTERNAL<br>DATA SOURCES
    </a>
  </div>
    <div>
      <div class="head small"><span class="label">Cloud Platform</span></div>
    <a class="action" href="deploy-your-app.html">
      <div class="stepPic circle deploy"></div>
      DEPLOY TO<br>WAKANDA CLOUD
    </a>
  </div>
  <hr/>
</div>