---
---

section {
  .btn {
    font-size: 12px;
    box-sizing: border-box;
    border: none;
    padding: 8px 15px;
    background-color: #e3e5e6;
    color: #555;
    text-align: center;
    height: 36px;
    line-height: 36px;
    margin: 5px 5px 0 0;
    transition: all .15s ease-in;
    font-weight: 400;
    color: white;
    background-color: #4ab19d;
  }
  
  a.action {
    display: block;
    width: 200px;
    height: 100px;
    float: left;
    text-align: center;
    background-color: transparent;
    padding: 0;
    color: black;
    font-size: 15px;

    &:hover {
      background-color: transparent;
      color:gray;
    }
    
    img {
      display: block;
      margin: auto;
    }
  }
  
  a {
    background-color: transparent;
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: inherit;
    
    &:hover {
      background-color: transparent;
    }
  }
  
  a.transparent {
      background: transparent;
  }

  a.blue {
      color: white;
      background-color: #44515e;
  }

  a.green {
      color: white;
      background-color: #4ab19d;
  }

  a.error {
      color: white;
      background-color: #c9302c;
  }

  .button.success {
      color: white;
      background-color: #5cb85c;
  }

  a.btn:hover {
      text-decoration: none;
      background-color: #52687e;
      color:white;
      cursor: pointer;
  }

  a.transparent:hover {
      background: #eee;
  }

  a.float-left {
      display: block;
      width: auto;
      padding: 5px 25px 5px 20px;
      line-height: 100%;
  }
  
  .home-button {
    text-align: center;
    display: block;
    width: 250px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px 10px 20px;
    border-radius: 10px;
    margin-bottom: 8px;
    margin-right: 8px;
    float:left;
  }

  .home-button figure {
    display: block;
    margin: 0 auto;
  }

  .home-button span {
    display: block;
    color: #e1e1e1;
    font-size: 15px;
    line-height: 120%;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .dark.home-button {
    background: #4e4e4e;
  }

  .dark.home-button figure {
    background: url('../images/ios.png');
    height: 91px;
    width: 91px;
    text-indent: -9999px;
  }

  .dark.home-button:hover figure {
    background: url('../images/iosHover.png');
  }

  .green.home-button {
    background: #45b29d;
  }

  .green.home-button figure {
    background: url('../images/android.png');
    height: 93px;
    width: 79px;
    text-indent: -9999px;  
  }

  .green.home-button:hover figure {
    background: url('../images/androidHover.png');
  }

  .green.home-button span {
    color: white;
  }

  .home-button:hover span {
    color: white;
  }


}

