---
---

#mc_embed_signup{
  padding: 0 0 22px 22px;
  color:#555; 
  
  h2 {
    padding: 0 0 4px 0;
    font-size: 15px;
  }
  .mc-field-group {
    font-size:11px;
    margin-bottom:8px;
  }
  .mce_inline_error {
    color: #df5a49 !important;
    background-color: white !important;
  }
  .email, .mc-inline-error {
    padding: 5px 3px;
    width: 123px;
  }
  .button {
    background-color:#fbb500;
    padding:7px 8px;
    border:none;
    color:#fff;
    cursor: pointer;
  }
}
