---
---

@import url(button.css);
@import url(home.css);
@import url(mailing.css);
@import url(search.css);

nav {
  hr {
    display: none;
  }

  h1 {
    margin: 0 0 10px 0;
    font-size: 18px;
    padding: 20px 10px 10px 26px;
    a, a:visited {
      color: black;
    }
  }

  h2 {
    font-size: 16px;
    margin-bottom: 5px;
    hr {
      display: block;
      color: #EBF4F9;
      background-color: #EBF4F9;
    }
  }

  ul {
    list-style: none;

    li {
      margin-left: 0;
      padding-left: 0;

      &.active {
          font-weight: bold;
      }
      
      a {
        font-size: 13px;
      }
    }
  }
}

section {
  padding-bottom: 10px;

  h1 {
    border-bottom: solid 1px #e5e5e5;
    margin: -27px 0px 40px 0;
    padding: 0 200px 13px 40px;
    max-width: 600px;
  }

  h3 {
    margin-bottom: 8px;
  }

  #contribute {
    padding: 7px 15px 0px 40px;
    font-size: 13px;

    a:after {
      content: "Contribute to this page";
    }
  }

  #chapter {
    padding: 10px 0 0 40px;
    color: #A2A2A2;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    height: 33px;
  }

  header {
    float: none;
    position: inherit;
    width: 100%;

    h1 {
      margin-top: -20px;
    }
  }
}

@media print, screen and(max-width: 830px) {
    
  section {
      
    h1 {
      padding-right: 40px;
    }
    
    #contribute  a:after {
        content: "";
    }
  }
}

ul, ol {
  li {
    pre.highlight {
      margin-left: 0;
    }
  }
}
