<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        {% include analytics.html %}
    </head>
    <body>
        <div class="wrapper">
            <nav>
                <div class="scroll">
                    {% include nav.html %}
                    {% include mailing.html %}
                </div>
            </nav>
            <section id="{{ page.id }}">
                <div id="chapter">
                    <span>{{ chapter_title }}</span>
                </div>
                <div id="contribute">
                    <a href="{{ site.repository }}/blob/{{ site.branch }}/{{ page.path }}"><span class="fa fa-github"> </span> </a>
                </div>
                {{ content }}
            </section>
            {% include search.html %}
            <footer class="clear-all">
                {% include footer.html %}
            </footer>
        </div>
    </body>
    {% include sync_scripts.html %}
</html>
